body{
    background-color: lightpink;
}
h1{
    color: rgb(2, 2, 2);
    background-color: palevioletred;
    margin-left:  110px; ;
}
#show_sketch{
 float: right; 
   margin-right: 50px;
}
canvas{
    border: 5px solid white;
    border-radius: 20px ;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 100px;
    animation-iteration-count: infinite;
}
@keyframes example {
    from{box-shadow: 1px 1px 38px grey;}
    to{box-shadow: 1px 1px 38px white;}
}
p{
    padding-top: 10px;
    font-size: 25px;
}
